/* 
.class llamamos a la clase con el punto
label llamamos a una etiqueta
*/
@font-face {
  font-display: block;
  font-family: eins-modal-icons;
  font-style: normal;
  font-weight: 400;
  src: url(data:application/vnd.ms-fontobject;base64,cAUAAKgEAAABAAIAAAAAAAAAAAAAAAAAAAABAJABAAAAAExQAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAT6HdngAAAAAAAAAAAAAAAAAAAAAAACAAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4AcwAAAA4AUgBlAGcAdQBsAGEAcgAAABYAVgBlAHIAcwBpAG8AbgAgADEALgAwAAAAIABlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzAAAAAAAAAQAAAAsAgAADADBPUy8yDxIFKgAAALwAAABgY21hcBdW0ocAAAEcAAAAVGdhc3AAAAAQAAABcAAAAAhnbHlmHrSg4gAAAXgAAACAaGVhZB0GIHMAAAH4AAAANmhoZWEHwgPGAAACMAAAACRobXR4CgAAAAAAAlQAAAAUbG9jYQAoAFQAAAJoAAAADG1heHAABwAOAAACdAAAACBuYW1l25ShYgAAApQAAAHycG9zdAADAAAAAASIAAAAIAADAwABkAAFAAACmQLMAAAAjwKZAswAAAHrADMBCQAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAEAAAOkAA8D/wABAA8AAQAAAAAEAAAAAAAAAAAAAACAAAAAAAAMAAAADAAAAHAABAAMAAAAcAAMAAQAAABwABAA4AAAACgAIAAIAAgABACDpAP/9//8AAAAAACDpAP/9//8AAf/jFwQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAP/ABAADwAALAAAJAQcJARcJATcJAScCAP5sbAGU/mxsAZQBlGz+bAGUbAIsAZRs/mz+bGwBlP5sbAGUAZRsAAAAAQAAAAEAAJ7doU9fDzz1AAsEAAAAAADc8237AAAAANzzbfsAAP/ABAADwAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAABQQAAAAAAAAAAAAAAAIAAAAEAAAAAAAAAAAKABQAHgBAAAEAAAAFAAwAAQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAQAAAAAQAAAAAAAgAHALEAAQAAAAAAAwAQAFEAAQAAAAAABAAQAMYAAQAAAAAABQALADAAAQAAAAAABgAQAIEAAQAAAAAACgAaAPYAAwABBAkAAQAgABAAAwABBAkAAgAOALgAAwABBAkAAwAgAGEAAwABBAkABAAgANYAAwABBAkABQAWADsAAwABBAkABgAgAJEAAwABBAkACgA0ARBlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNSZWd1bGFyAFIAZQBnAHUAbABhAHJlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA);
  src: url(data:application/vnd.ms-fontobject;base64,cAUAAKgEAAABAAIAAAAAAAAAAAAAAAAAAAABAJABAAAAAExQAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAT6HdngAAAAAAAAAAAAAAAAAAAAAAACAAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4AcwAAAA4AUgBlAGcAdQBsAGEAcgAAABYAVgBlAHIAcwBpAG8AbgAgADEALgAwAAAAIABlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzAAAAAAAAAQAAAAsAgAADADBPUy8yDxIFKgAAALwAAABgY21hcBdW0ocAAAEcAAAAVGdhc3AAAAAQAAABcAAAAAhnbHlmHrSg4gAAAXgAAACAaGVhZB0GIHMAAAH4AAAANmhoZWEHwgPGAAACMAAAACRobXR4CgAAAAAAAlQAAAAUbG9jYQAoAFQAAAJoAAAADG1heHAABwAOAAACdAAAACBuYW1l25ShYgAAApQAAAHycG9zdAADAAAAAASIAAAAIAADAwABkAAFAAACmQLMAAAAjwKZAswAAAHrADMBCQAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAEAAAOkAA8D/wABAA8AAQAAAAAEAAAAAAAAAAAAAACAAAAAAAAMAAAADAAAAHAABAAMAAAAcAAMAAQAAABwABAA4AAAACgAIAAIAAgABACDpAP/9//8AAAAAACDpAP/9//8AAf/jFwQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAP/ABAADwAALAAAJAQcJARcJATcJAScCAP5sbAGU/mxsAZQBlGz+bAGUbAIsAZRs/mz+bGwBlP5sbAGUAZRsAAAAAQAAAAEAAJ7doU9fDzz1AAsEAAAAAADc8237AAAAANzzbfsAAP/ABAADwAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAABQQAAAAAAAAAAAAAAAIAAAAEAAAAAAAAAAAKABQAHgBAAAEAAAAFAAwAAQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAQAAAAAQAAAAAAAgAHALEAAQAAAAAAAwAQAFEAAQAAAAAABAAQAMYAAQAAAAAABQALADAAAQAAAAAABgAQAIEAAQAAAAAACgAaAPYAAwABBAkAAQAgABAAAwABBAkAAgAOALgAAwABBAkAAwAgAGEAAwABBAkABAAgANYAAwABBAkABQAWADsAAwABBAkABgAgAJEAAwABBAkACgA0ARBlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNSZWd1bGFyAFIAZQBnAHUAbABhAHJlaW5zLW1vZGFsLWljb25zAGUAaQBuAHMALQBtAG8AZABhAGwALQBpAGMAbwBuAHNGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA#iefix)
      format("embedded-opentype"),
    url(data:font/ttf;base64,AAEAAAALAIAAAwAwT1MvMg8SBSoAAAC8AAAAYGNtYXAXVtKHAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zh60oOIAAAF4AAAAgGhlYWQdBiBzAAAB+AAAADZoaGVhB8IDxgAAAjAAAAAkaG10eAoAAAAAAAJUAAAAFGxvY2EAKABUAAACaAAAAAxtYXhwAAcADgAAAnQAAAAgbmFtZduUoWIAAAKUAAAB8nBvc3QAAwAAAAAEiAAAACAAAwMAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6QD//f//AAAAAAAg6QD//f//AAH/4xcEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAD/wAQAA8AACwAACQEHCQEXCQE3CQEnAgD+bGwBlP5sbAGUAZRs/mwBlGwCLAGUbP5s/mxsAZT+bGwBlAGUbAAAAAEAAAABAACe3aFPXw889QALBAAAAAAA3PNt+wAAAADc8237AAD/wAQAA8AAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAUEAAAAAAAAAAAAAAACAAAABAAAAAAAAAAACgAUAB4AQAABAAAABQAMAAEAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEAEAAAAAEAAAAAAAIABwCxAAEAAAAAAAMAEABRAAEAAAAAAAQAEADGAAEAAAAAAAUACwAwAAEAAAAAAAYAEACBAAEAAAAAAAoAGgD2AAMAAQQJAAEAIAAQAAMAAQQJAAIADgC4AAMAAQQJAAMAIABhAAMAAQQJAAQAIADWAAMAAQQJAAUAFgA7AAMAAQQJAAYAIACRAAMAAQQJAAoANAEQZWlucy1tb2RhbC1pY29ucwBlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwZWlucy1tb2RhbC1pY29ucwBlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzZWlucy1tb2RhbC1pY29ucwBlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByZWlucy1tb2RhbC1pY29ucwBlAGkAbgBzAC0AbQBvAGQAYQBsAC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==)
      format("truetype"),
    url(data:font/woff;base64,d09GRgABAAAAAAT0AAsAAAAABKgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIFKmNtYXAAAAFoAAAAVAAAAFQXVtKHZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAIAAAACAHrSg4mhlYWQAAAJEAAAANgAAADYdBiBzaGhlYQAAAnwAAAAkAAAAJAfCA8ZobXR4AAACoAAAABQAAAAUCgAAAGxvY2EAAAK0AAAADAAAAAwAKABUbWF4cAAAAsAAAAAgAAAAIAAHAA5uYW1lAAAC4AAAAfIAAAHy25ShYnBvc3QAAATUAAAAIAAAACAAAwAAAAMDAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QADwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkA//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA/8AEAAPAAAsAAAkBBwkBFwkBNwkBJwIA/mxsAZT+bGwBlAGUbP5sAZRsAiwBlGz+bP5sbAGU/mxsAZQBlGwAAAABAAAAAQAAnt2hT18PPPUACwQAAAAAANzzbfsAAAAA3PNt+wAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAFBAAAAAAAAAAAAAAAAgAAAAQAAAAAAAAAAAoAFAAeAEAAAQAAAAUADAABAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABABAAAAABAAAAAAACAAcAsQABAAAAAAADABAAUQABAAAAAAAEABAAxgABAAAAAAAFAAsAMAABAAAAAAAGABAAgQABAAAAAAAKABoA9gADAAEECQABACAAEAADAAEECQACAA4AuAADAAEECQADACAAYQADAAEECQAEACAA1gADAAEECQAFABYAOwADAAEECQAGACAAkQADAAEECQAKADQBEGVpbnMtbW9kYWwtaWNvbnMAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4Ac1ZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGVpbnMtbW9kYWwtaWNvbnMAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4Ac2VpbnMtbW9kYWwtaWNvbnMAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4Ac1JlZ3VsYXIAUgBlAGcAdQBsAGEAcmVpbnMtbW9kYWwtaWNvbnMAZQBpAG4AcwAtAG0AbwBkAGEAbAAtAGkAYwBvAG4Ac0ZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=)
      format("woff"),
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxmb250IGlkPSJlaW5zLW1vZGFsLWljb25zIiBob3Jpei1hZHYteD0iMTAyNCI+PGZvbnQtZmFjZSB1bml0cy1wZXItZW09IjEwMjQiIGFzY2VudD0iOTYwIiBkZXNjZW50PSItNjQiLz48Z2x5cGggaG9yaXotYWR2LXg9IjUxMiIvPjxnbHlwaCB1bmljb2RlPSLupIAiIGdseXBoLW5hbWU9ImNsb3NlIiBkPSJNNTEyIDU1NS43ODkgMTA3Ljc4OSA5NjAgMCA4NTIuMjExIDQwNC4yMTEgNDQ4IDAgNDMuNzg5IDEwNy43ODktNjQgNTEyIDM0MC4yMTEgOTE2LjIxMS02NCAxMDI0IDQzLjc4OSA2MTkuNzg5IDQ0OCAxMDI0IDg1Mi4yMTEgOTE2LjIxMSA5NjB6Ii8+PC9mb250PjwvZGVmcz48L3N2Zz4=#eins-modal-icons)
      format("svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #18db86;
  --secondary: #fff;
  --secondary-light: #adadad;
  --dark1: #222;
  --dark2: #050505;
}

body {
  color: var(--secondary);
  font-family: Signika, sans-serif;
  font-size: 18px;
}

.container { /*Para centrarlo o darle achicar la pagina para pantallas grandes*/
  margin: 0 auto; /*Para que todo se quede en el centro*/
  max-width: 1200px;
}

/* Nav */
header { /*Esto es parte del NAV*/
  background-color: var(--dark2); /*Fondo del Nav*/
  padding: 5px 0;
  position: sticky; /*Posicion del NAV fijo cuando hago scroll*/
  top: 0; /*Con 0 queda fijo*/
  z-index: 30; /*Para sobresalir del elemento, que no quede por detras*/
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: var(--secondary);
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: var(--primary) solid;
}

.hero {
  background-color: var(--dark2);
  position: relative;
}

/* .hero img  */
.fondo { /*Fondo negro del header*/
  height: 530px;
  opacity: 0.35;
  width: 100%;
}

/*Sobre mi*/
.title_about {
  font-size: 2.6rem;
  text-align: center;
}

.about { /*fondo del portafolio(solo de los proyectos)*/
  /* background-color: var(--dark1); */
  padding: 50px; /*agrandar espacio*/
  text-align: center;
}

/*Portafolio*/

.title { /*agregado para agrandar los titulos*/
  font-size: 2.6rem;
}

span { /*titulo*/
  color: var(--primary);
  font-size: 1.2rem; /*tamaño de letra*/
}

.briefcase { /*fondo del portafolio(solo de los proyectos)*/
  background-color: var(--dark1);
}

.briefcase-section h2 { /*titulo*/
  padding: 70px; /*agrandar espacio*/
  text-align: center;
}

.briefcase-grid { /*seccion proyectos*/
  display: grid;
  gap: 30px; /*Espacio para que se separen del grid*/
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  width: 90%; /*para que se separen en las esquinas*/
  margin: 0 auto; /*Para terminar de centrar*/
}

.briefcase-grid img {
  border-radius: 10px;/*redondear imagen*/
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 100%; /*Las imagenes se adaptan al contenedor*/
}

.briefcase-grid img:hover {
  transform: scale(1.1);
}

/* Barra Flotante */
.floating {
  background-color: var(--dark1);
  text-align: center;
  
}

.conteudo { /*Linea blanca*/
  display: inline-flex; 
  border-bottom: 4px solid #EFEFEF;
  border-radius: 5px;
}

.conteudo img {
  width: 80px;
  filter: drop-shadow(0px 0px 1px #4b4b50);
  animation: flutuar 3s linear infinite;
}

@keyframes flutuar {

  0%,
  100% {
      transform: translateY(0px);
  }

  50% {
      transform: translateY(-23px);
  }
}

.conteudo img:nth-child(2) { /*uno por cada icono*/
  animation-delay: .2s;
}

.conteudo img:nth-child(3) {
  animation-delay: .4s;
}

.conteudo img:nth-child(4) {
  animation-delay: .6s;
}

.conteudo img:nth-child(5) {
  animation-delay: .8s;
}

.conteudo img:nth-child(5) {
  animation-delay: .10s;
}

.conteudo img:nth-child(6) {
  animation-delay: .12s;
}

.conteudo img:nth-child(7) {
  animation-delay: .14s;
}

section.skills {
  background-color: var(--dark1); /*Color de fondo*/
}
.skill {
  display: grid;
  gap: 120px; /*150*/
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  /* justify-content: center; */
  /* margin: 0 auto; */
  padding-bottom: 110px; /*Espacio final de un section al section siguiente*/
  width: 90%;
}
.skill h2 { /*Titulos de habildades*/
  font-size: 2.2rem;
  padding: 80px 30px 90px;
  text-align: center;
}
.skill img { /*imagenes de los iconos de las habilidades*/
  width: 90px;
}
.knowledge {
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(110px, auto));
}
.knowledge, .tools {
  display: grid;
  justify-content: center;
}
.tools {
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(70px, auto));
}
/* .skill h3 {
  background-color: var(--dark2);
  border-radius: 5px;
  color: var(--primary);
  font-size: 1.1rem;
  opacity: 0;
  padding: 5px 0;
  text-align: center;
  transform: translateY(-100px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  width: 100px;
}
 */
/* .knowledge > div:hover h3, .tools > div:hover h3 {
  opacity: 1;
  transform: translateY(-150px);
}
 */
.about {
  background-color: var(--dark2);

}
.about-flex {
  display: flex;
  padding: 100px 0 137px;
}
.about p, .about-flex {
  margin: 0 auto;
  width: 90%;
}
.about p {
  color: var(--secondary-light);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.social {
  border-left: 5px solid var(--secondary);
  padding-left: 50px;
}
.social img {
  margin: 10px;
  width: 60px;
}
.social img:hover {
  transform: scale(1.2);
}
footer {
  background-color: var(--dark2);
  color: var(--secondary-light);
  text-align: center;
}

/* Modals */

.eins-modal-content {
  background-color: var(--dark1);
  max-width: 700px;/*Separar a ambos lados el contenido*/
}

.eins-modal-preview {/*La imagen principal al lado izquierdo*/
  margin: 0 auto;
  max-width: 350px; /*Limita el tamaño del elemento*/
  width: 90%;
}

.eins-modal-preview img { /*La imagen principal al lado izquierdo*/
  padding: 0 50px 20px 0;/*Para que se separe un poco la imagen central de los otros elementos*/
  width: 100%;/*Para que se coloque en el contenedor que se agrego anteriormente*/
}
/* El padding siempre arraca arriba, sigue por la derecha, luego abajo y termina en la izquierda. Como las agujas del reloj */

.pw-content { /*Todo el contenido*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
}

.eins-modal-text p { /*La descripcion de la imagen*/
  font-size: 1.1rem;
}

.eins-modal-text-2 { /*Enlace*/
  padding: 80px 0 10px;
}

.eins-modal-text-2 a { 
  color: var(--secondary);
  margin: 5px;
}

.eins-modal-tec img { /*iconos o imagenes utilizadas*/
  height: 50px;
  width: 50px;
}

.eins-modal-text p {
  opacity: 0.8;
  padding: 5px 0;
}
.eins-modal-text-3 img:hover { 
  transform: scale(1.1);
}
.eins-modal-text-3 span:hover {
  color: var(--secondary);
}
.eins-modal-text-3 a { /*texto tecnologias utilizadas*/
  font-size: 1rem;
  text-decoration: none;
}

/* Contact Form */
form {
  display: flex;/*Poner uno al lado del otro*/
  flex-direction: column;/*Ponerlo uno abajo del otro editando el de arriba*/
  margin: 0 auto; /*Por mas que lo agrandes se mantiene en el centro*/
  max-width: 400px;/*Darle limite de ancho*/
}

.form > label > input {
  padding: 10px 60px;
}

.form > label > input, .form > label > textarea {
  background-color: var(--dark2);
  border-radius: 10px;
  color: var(--secondary); /*Color de la letra intera*/
  opacity: 0.7;
  outline: none; /*eliminar Borde que viene por defecto*/
  width: 100%; /*Para que el elemento ocupe todo el contenedor*/
}

.form > label > textarea {
  padding: 50px;
}

.form > button {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--secondary);
  padding: 10px; /*Cambiar tamaño del boton*/
}

label {
  color: var(--primary);
  padding: 5px; /*Separacion entre los dos elementos*/
}

.profile div {
  position: absolute;
}
.profile {
  display: flex;
  justify-content: center;
}
.square {
  background-color: var(--dark1);
  height: 450px;
  opacity: 0.7;
  top: 70px;
  width: 320px;
  z-index: 10;
}
.circle-trans {
  border: 30px solid var(--primary);
  border-radius: 50%;
  height: 290px;
  opacity: 0.2;
  top: 90px;
  width: 290px;
  z-index: 19;
}
.circle {
  border: 15px solid var(--primary);
  border-radius: 50%;
  height: 230px;
  top: 120px;
  width: 230px;
  z-index: 21;
}
.profile-img {
  top: 134px;
  z-index: 20;
}
.profile-img img {
  border-radius: 50%;
  height: 202px;
  width: 202px;
}
.square-text {
  font-size: 1.9rem;
  top: 380px;
}
.square-text, .square-text-2 {
  color: var(--secondary);
  z-index: 11;
}
.square-text-2 {
  font-size: 1rem;
  top: 418px;
}
.square-text-3 {
  color: var(--secondary);
  font-size: 1.3rem;
  top: 490px;
  z-index: 11;
}
.square-text-3:hover {
  border-bottom: var(--primary) solid;
}
.square-text-3 a {
  color: var(--secondary);
  text-decoration: none;
}
.contact-icon {
  top: 450px;
  z-index: 11;
}
.contact-icon img {
  margin: 0 10px;
  width: 40px;
}
.contact-icon img:hover {
  transform: scale(1.2);
}
